# Django
DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Database (optional if using SQLite in dev)
DATABASE_URL=

# Supabase indices
SUPABASE_URL=https://qbyipfcyqnaptstidphj.supabase.co
SUPABASE_KEY=yeyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFieWlwZmN5cW5hcHRzdGlkcGhqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzM5NjU2NSwiZXhwIjoyMDgyOTcyNTY1fQ.7f10RSykX1bJEIedkuAMTMPcRBzU3Zr6_cmsAbFA8xw

# Emails - Brevo/Sendinblue SMTP
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-brevo-login
EMAIL_HOST_PASSWORD=your-brevo-smtp-key
DEFAULT_FROM_EMAIL=noreply@yourdomain.com

# URL pública (usada em links enviados por email)
SITE_URL=https://fgts.bildee.com.br
